<header>
    <div class="header-content">
        Guess the GIF
    </div>
</header>
<div class="images">
    <mat-card class="img-container" *ngFor="let image of images">
        <mat-card-header>
            <mat-card-title>{{ image.guessedName }}</mat-card-title>
        </mat-card-header>
        <div
            class="img-cover"
            (click)="openDialog(image.index)"
            [style.backgroundImage]="'url(' + image.src + ')'"
        ></div>
    </mat-card>
</div>

<router-outlet></router-outlet>
