@import '../sass-variables';

$img-padding: 10px;

.grid-content {
    display: grid;
    grid-template-rows: 50px auto 70px;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
    background: $header-background-fallback;
    background: $header-background;
    height: 100%;
    h1 {
        color: #fff;
        margin: 0px;
        padding-left: 10px;
        font-family: $header-font;
    }
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: $img-dimension * 3 + ($img-padding * 2 * 3);
}

.img-container {
    padding: $img-padding / 2;
    margin: $img-padding / 2;
    cursor: pointer;
}

.img-cover {
    width: $img-dimension;
    height: $img-dimension;
    background-size: cover;
}

.card-actions {
    display: flex;
    justify-content: center;

    .card-btn-text {
        font-family: $header-font;
    }
}

.guess-btn {
    width: 95%;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.img-title {
    font-family: $header-font;
    color: #dadada;
}

.guessed-name-title {
    font-style: italic;
    font-weight: normal;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $header-background-fallback;
    background: $header-background;
    height: 100%;

    padding-bottom: 20px;
    button {
        height: 35px;
        font-size: 1.4rem;
        font-family: $header-font;
    }
}
