<div class="grid-content">
    <header>
        <div class="header-content">
            <h1>
                Guess the GIF
            </h1>
        </div>
    </header>
    <div class="images">
        <mat-card
            class="img-container guess-the-gif"
            *ngFor="let image of images"
        >
            <mat-card-header>
                <mat-card-title
                    ><span
                        class="img-title"
                        [innerHTML]="'Image #' + image.index + ': '"
                    ></span
                    ><span class="guessed-name-title">{{
                        image.guessedName
                    }}</span></mat-card-title
                >
            </mat-card-header>
            <div
                class="img-cover"
                (click)="openDialog(image.index)"
                [style.backgroundImage]="'url(' + image.src + ')'"
            ></div>
            <mat-card-actions class="card-actions">
                <button
                    (click)="openDialog(image.index)"
                    class="guess-btn"
                    mat-flat-button
                    [color]="image.guess ? '' : 'primary'"
                >
                    <mat-icon>ballot</mat-icon>
                    <span class="card-btn-text"> Take a Guess</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <footer class="footer-content">
        <button
            (click)="saveResults()"
            mat-flat-button
            [disabled]="!hasVoted"
            [color]="hasVoted ? 'primary' : 'disabled'"
        >
            Review Your Guesses
        </button>
    </footer>
</div>
