@import '../sass-variables';

.grid-content {
    display: grid;
    grid-template-rows: 50px auto 50px;
}

.header-content {
    display: flex;
    align-items: center;
    background: $header-background-fallback;
    background: $header-background;
    height: 100%;
    h1 {
        color: #fff;
        margin: 0px;
        padding-left: 10px;
        font-family: $header-font;
    }
}
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-container {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.img-cover {
    width: $img-dimension;
    height: $img-dimension;
    background-size: cover;
}

.card-actions {
    display: flex;
    justify-content: center;
}

.guess-btn {
    width: 95%;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.img-title {
    font-family: $header-font;
    color: #dadada;
}

.guessed-name-title {
    font-style: italic;
    font-weight: normal;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $header-background-fallback;
    background: $header-background;
    height: 100%;

    button {
        height: 35px;
        font-size: 1.2rem;
        font-family: $header-font;
    }
}
