$header-font: 'Lobster', cursive;
$primary-clr: #ff4081;
$bg-color-1: #3f51b5;
$bg-color-2: #513fb5;
$bg-color-plain: #ccc;
$header-background: linear-gradient(180deg, $bg-color-1 35%, $bg-color-2 100%);
$header-background-fallback: rgb(81, 63, 181);
$img-dimension: 300px;
$panel-background: radial-gradient(
    circle,
    rgb(126, 163, 189) 0%,
    rgb(113, 177, 219) 20%,
    rgba(81, 63, 181, 1) 100%
);
$panel-background-fallback: rgb(63, 81, 181);
