$header-font: 'Lobster', cursive;
$bg-color-1: rgba(63, 81, 181, 1);
$bg-color-2: rgb(81, 63, 181);
$bg-color-plain: #ccc;
$header-background: linear-gradient(180deg, $bg-color-1 35%, $bg-color-2 100%);
$header-background-fallback: rgb(81, 63, 181);
$img-dimension: 300px;
