.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    .selected-img {
        width: 100px;
    }
}

.guesses {
    display: flex;
    flex-direction: column;

    button {
        margin: 5px 0px;
        width: 100%;
        max-width: 150px;
    }
}
